.title {
	position: relative;
	top: 0.3rem;
	left: 0rem;
	font-family: "yg-jalnan";
	font-size: 30px;
}
.cont {
	margin-left: 20px;
	flex-direction: row;
	font-family: "Pretendard-Regular";
}

.typeBtn {
    font-family: "Gmarket-Bold";
    margin-bottom: 10px;
    width: 7rem;
    color: rgb(77, 77, 77);
    background-color: #facb9a;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.typeBtnActive {
    font-family: "Gmarket-Bold";
    margin-bottom: 10px;
    width: 7rem;
    color: white;
    background-color: #73BFFF;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 3rem;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(5px);
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #E5F4E0;
    margin: 50px;
    position : relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle:hover{
    cursor: pointer;
}

div img.profile {
    position: absolute;
    margin:20px; 
    object-fit : fill;
    text-align:center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin:20px;
}

.nickname {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 20px;
}
.nicknameInputTag {
    width: 200px;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 10px;
}
/* 닉네임 중복확인 버튼 */
.duplicateBtn{
    margin-left: 2rem;
    margin-bottom: 15px;
    color: rgb(77, 77, 77);
    background-color: #facb9a;
    height: 45px;
    width: 7rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.saveNdeleteBtn {
    margin-top: 80px;
    margin-left: 80px;
    
}
.saveBtn{
    margin-bottom: 10px;
    width: 10rem;
    color: rgb(77, 77, 77);
    background-color: #facb9a;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.deleteBtn {
    margin-bottom: 10px;
    width: 10rem;
    color: #facb9a;
    background-color: gray;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.profileInput{
    /* display: none; */
}
