.posts {
	padding-bottom: 100px;
}

.articles {
	background-color: white;
	margin-top: 80px;
	margin-bottom: 2px;
	border-radius: 20px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	display: flex;
	flex-direction: column;
	min-height: 500px;
}

.articleHeaderTop {
	display: flex;
	flex-direction: row;
}
.aht-section1 {
	flex: 1;
}
.aht-section2 {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.aht-title {
	font-weight: 700;
	display: flex;
	align-content: center;
}
.aht-section3 {
	flex: 1;
	display: flex;
	justify-content: end;
	align-items: end;
}
.articleHeaderBottom {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.articleBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.postImg {
	max-width: 50%;
}

.likeDiv {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.noContents {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: larger;
	font-weight: 600;
}
.replyListBox {
	border-radius: 5px;
	padding: 20px;
	background-color: white;
	margin-bottom: 50px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}
