/* ################## 게시판 공통 ################## */
@media screen and (max-width: 1200px) { 
    .dailyMain-active {
        width: 100%;
        margin: 50px 0;
    }
}
#middleNavigationBar {
    justify-content: center;
    
}

/* 게시판 이름 */
.boardName {
    text-align: center;
}

/* 하단 글쓰기 버튼 */
.writeBtnDiv {
    text-align: right;
    
}
.writeBtn {
    background-color: #73BFFF;
    border-color: #73BFFF;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    
}
.writeBtn:hover {
    transform: translateY(-1%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}


/* ################## 일상 게시판 ################## */
.dailyMain {
    margin-left: 100px;
    margin-right: 100px;
}
.TypeBtnDiv{
    text-align: center;
}
.menu-item {
    background-color: #FFF4EA;
    color: #2E2E2E;
}
.menu-item-active {
    background-color: #73BFFF;
    color: white;
}
/* .dailyMain-active {
    background-color: #73BFFF;
    margin-left: 200px;
} */


/* ################## 질문 게시판 ################## */
.questionMain {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}
/* 테이블 가운데 정렬 */
.tableDiv {
    margin-left:auto;
    margin-right:auto;
}


/* ################## 추천 게시판 ################## */
.recommendationMain {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}
.recommendationImg {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 20px;
}


/* ################## 검색 게시판 ################## */
.searchMain {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}
.searchCardContainer {
    display: flex;
    border-color: #2E2E2E;
    margin-left: 20px;
}
.searchCardImg {
    width: 150px;
    height: 150px;
    object-fit: contain;
    
}
.searchCardContent {
    margin-top: 10px;
    margin-left: 30px;
    display: block;
}
.sectionDiv {
    display: flex;
}
.section {
    background-color: #73BFFF;
    color: #73BFFF;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
}
.section:hover {
    cursor: initial;
}