/* ################## 게시판 공통 ################## */
@media screen and (max-width: 1200px) { 
    .dailyMain-active {
        width: 100%;
        margin: 50px 0;
    }
}


#middleNavigationBar {
    justify-content: center;
}

/* 게시판 이름 */
.boardName {
    text-align: center;
}

/* 하단 글쓰기 버튼 */
.writeBtnDiv {
    text-align: right;
    
}
.writeBtn {
    background-color: #73BFFF;
    border-color: #73BFFF;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    
}
.writeBtn:hover {
    transform: translateY(-1%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}


/* ################## 일상 게시판 ################## */
.dailyMain {
    margin-top: 80px;
}
.TypeBtnDiv{
    text-align: center;
    padding-left: 180px;
    padding-right: 180px;
}
.menu-item {
    background-color: #FFF4EA;
    color: #2E2E2E;
}
.menu-item-active {
    background-color: #73BFFF;
    color: white;
}


/* ################## 자랑 게시판 ################## */




/* ################## 질문 게시판 ################## */
.questionMain {
    margin-top: 80px;
}
/* 테이블 가운데 정렬 */
.tableDiv {
    margin-left:auto;
    margin-right:auto;
}


/* ################## 추천 게시판 ################## */
.recommendationMain {
    margin-top: 80px;
}
.recommendationImg {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 20px;
}


/* ################## 검색 게시판 ################## */
.searchMain {
    margin-top: 80px;
}
.searchResultTextDiv {
    display: flex;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    justify-content : center;
}
.searchResultText {
    color: #FB901A;
}


/* ################## 게시판에 글이 없습니다 ################## */
.noContentMain {
    margin-top: 50px;
    text-align: center;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.noContent {
    padding-top: 100px;
    padding-bottom: 80px;
}
.noContent button {
    margin-top: 50px;
}