#showBtn {
    margin-top: 100px;
    background-color: #FABF3E;
    border-color: #FABF3E;
    font-weight: bold;
    width: 45px;
    height: 45px;
}


/* offcanvas 열렸을때 상단바 가리지 않게 밑으로 내림 */
.offcanvas {
    margin-top: 250px;
    margin-left: 220px;
    height: 650px;
    border-style: solid;
}

/* 부트스트랩 기본 css를 바꾸고 싶은데 덮어쓰기가 안되서 id 이용해서 바꿈
className보다 id가 더 우선순위이다 */
#offcanvasMain {
    width: 230px;
    border-color: #FABF3E;
    border-radius: 25px;
    /* border-color: yellow; */
    border-width: 7px;
    /* background-color: white; */
}