.bestAnimal {
    margin-right: 30px;
}
/* HOME > 랭킹 > **랭킹 */
#ranking_container{
    width: 10%;
    margin-left: 0px;
    margin-right: 900px;
}
#ranking_address{
    margin-left: 20px;
    margin-right: 20px;
}
@media screen and (max-width: 1100px) {
    #ranking_container {
      margin-right: auto;
    }
  } 


/* 랭킹 본문 */
.ranking_section{
    width:100%;
    justify-content: center;
    color: black;
}
.btn_section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
#ranking_btn{
    margin-left: 50px;
    margin-right: 50px;
}
#ranking_btn-active{
    background-color: #fb901a;
}

.Mainranking_section{
    padding-top: 100px;
    
}
.img_section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#date_leftbtn{
    margin-right: 50px;
    font-size: xx-large;
}
#date_rightbtn{
    margin-left: 50px;
    font-size: xx-large;
}
.date_section{
    display: flex;
    justify-content: center;
}
.date_font{
    font-size:xx-large;
}
.rankingpost_section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.rankingimg{
    margin-left: 90px;
    margin-right: 90px;
}
.otherrank{
    margin-left: 145px;
    margin-right: 145px;
}
