.posting {
	background-color: white;
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 150px;
	border-radius: 20px;
}

.containerHeader {
}

.formLabel {
	font-size: 110%;
	font-weight: 600;
}

.thumbnailImg {
	margin: 25px;
	max-width: 200px;
}
#textEditor {
	height: 10px;
}
.containerFooter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.postingBtn {
	margin: 20px;
}
