.posting {
	background-color: white;
	margin-top: 70px;
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 20px;
	padding: 10px;
	font-family: Gmarket-Medium;
}

.formLabel {
	font-size: 110%;
	font-weight: 600;
}

#FileInputForm {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.thumbnailImg {
	margin-right: 100px;
	max-width: 200px;
	border-color: rgb(215, 215, 215);
	border-style: solid;
}
#textEditor {
	height: 10px;
}
.containerFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.postingBtn {
	margin: 20px;
}
