.communityBanner {
	background-color: #73bfff;
}

.postingBanner {
	background-color: #73bfff;
}


.mypageBanner {
	background-color: #B0B0B0;
}

.rankingBanner {
	background-color: #fb901a;
}

.mypageBanner {
	background-color: #b0b0b0;
}
