#bannerContainer {
	width: 100%;
	height: 446px;
	margin-top: 0px;
	display: flex;
	justify-self: center;
	align-items: center;
	flex-direction: row;
}
.bannerContainerText {
	flex: 1;
	margin-top: 35px;
	margin-left: 50px;
}
.bannerContainerTitle {
	width: 550px;
	height: fit-content;
	color: var(--font-black-color);
	font-size: 40px;
	font-family: Gmarket-Bold;
}

.bannerContainerContent {
	width: 450px;
	color: white;
	font-size: 20px;
	font-family: Gmarket-Medium;
}

.bannerContainerImage {
	height: 100%;
	display: flex;
	margin-right: 80px;
	flex: 2;
	flex-direction: row-reverse;
}

.bannerDogImage {
	align-self: flex-end;
}
.rankingbanner_section{
	height: 446px;
	margin-top: 0px;
	margin-right: 85px;
	display: flex;
	justify-self: center;
	align-items: center;
	flex-direction: row;
	margin-left: 10px;
}

.banner_circle {
	width : 370px;
	height : 370px;
	margin-top: 25px;
	margin-left: 70px;
	border-radius: 50%;
	background-color: white;
	display: flex;
    justify-content: center;
    align-items: center;
}
.bannerCircleDogImage {
	width : 100%;
	height : 100%;
	align-self: flex-end;
}
