.communityBanner {
	background-color: #73bfff;
}

.postingBanner {
	background-color: #73bfff;
}


.mypageBanner {
	background-color: #B0B0B0;
}

.rankingBanner {
	background-color: #fb901a;
	display: flex;
}

.mypageBanner {
	background-color: #00C27E;
}
